@model IEnumerable<RealEstate.Services.Models.DistrictViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Real Estate Bg</h1>    
</div>
<table class="table table-striped table-hover">
    <tr>
        <th>District</th>
        <th>Properties</th>
        <th>Avg. price</th>
        <th>Min. price</th>
        <th>Max. price</th>
    </tr>
    @*Презантационна логика към вече IEnumerable (а не IQueryable)тоест към вече материализираните дании*@ 
    @foreach (var district in this.Model.Where(x => x.PropertiesCount > 50))
    {
        <tr>
            <td>@district.Name</td>
            <td>@district.PropertiesCount</td>
            <td>@district.AvgPrice.ToString("f2") €</td>
            <td>@district.MinPrice</td>
            <td>@district.MaxPrice</td>
        </tr>
    }
</table>
